

<div id="content">
  <div id="category">
    <div id="category-list"><p style="font-size:32px; color: white; padding : 10px; padding-top : 20px;">Categorty</p></div>
    <div id="item">
      <mat-selection-list #shoes  (selectionChange)="change(shoes.selectedOptions)"  [multiple]="false" default="All">
        <mat-list-option *ngFor="let cat of category" [value]="cat">
          {{cat}}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </div>
  <div id="items">


    <div style=" margin : 0 0 0 0;" *ngFor = "let i of items_list">
      <mat-card style="background-color: white; padding-right : 0px; margin: 0 0 0 0;">
        <mat-card-header>

          <mat-card-title>{{i.p_name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p style="padding : 10px;">
          <img   mat-card-image [src]="i.p_img"> <br>
          <label>Cost : {{i.p_cost}} &nbsp; &#8377;</label> <br>
          <label *ngIf="i.p_details">Details : <p style="border: 1px solid black; padding : 10px;"> {{i.p_details}} </p> </label> <br>
          <label>Category : {{i.p_category}} </label> <br>
          <label>Availability : <p> {{i.p_availability}} </p> </label> <br> </p>
        </mat-card-content>
      </mat-card>

    </div>

  </div>
</div>
